<%= form_with(model: task,local: true)do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form">
    <%= f.label :title %>
    <%= f.text_field :title,class:'form-control' %>
  </div>

  <div class="form">
    <%= f.label :content %>
    <%= f.text_field :content,class:'form-control' %>
  </div>

  <%= f.submit class:'btn btn-primary btn-block' %>

<% end %>